:root {
  --black-shadow: 0 0 1em #000;
  --white-shadow: 0 0 1em #fff;
  --partial-rainbow-border: drop-shadow(0px 0px 10px #000000) drop-shadow(0px 0px 10px #000000) drop-shadow(0 0px 1px #FF0000) drop-shadow(0 0px 1px #FFFF00) drop-shadow(0 0px 1px #00FF00) drop-shadow(0 0px 10px #0000FF) drop-shadow(0 0px 15px #2E2B5F) drop-shadow(0 0px 20px #8B00FF);
  --rainbow-border: drop-shadow(0px 0px 10px #000000) drop-shadow(0px 0px 10px #000000) drop-shadow(0 0px 1px #FF0000) drop-shadow(0 0px 1px #FFFF00) drop-shadow(0 0px 1px #00FF00) drop-shadow(0 0px 10px #0000FF) drop-shadow(0 0px 15px #2E2B5F) drop-shadow(0 0px 20px #8B00FF);
  --grey-gradient: linear-gradient(217deg, rgba(245, 245, 245, 0.5), rgba(245, 245, 245, 0) 70.71%), linear-gradient(127deg, rgb(232, 232, 232, .75), rgb(225, 225, 225) 70.71%), linear-gradient(336deg, rgba(245, 245, 245, 0.8), rgb(232, 232, 232) 70.71%);
}

body {
  font-family: 'Barlow', sans-serif;
}

.App {
  text-align: left;
  transition: all 5s;
  margin: 1%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  /* box-shadow: var(--black-shadow); */
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: gray;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  color: black;
  border: 1px solid black;
  font-size: .8em;
  text-transform: uppercase;
  /* background: var(--grey-gradient); */

}

.btn:hover {
  animation: 2s linear 1s infinite alternate btn-text-cycle;
  border: 1px solid black;

  /* font-weight: 600; */
}

.btn-active {
  animation: 2s linear 1s infinite alternate btn-text-cycle;
  border: 1px solid black;

  /* font-weight: 600; */
}

.btn-active + {
  border: 1px solid black;

  /* font-weight: 600; */
}

@keyframes btn-text-cycle {
  0% {
    /* box-shadow: var(--black-shadow); */
    /* box-shadow: 0 0 .5em darkred; */
    border: 1px solid darkred;
    color: darkred;
  }
  14% {
    /* box-shadow: 0 0 .5em darkred; */
    border: 1px solid darkred;
    color: darkred;
  }
  28% {
    /* box-shadow: 0 0 .5em orange; */
    border: 1px solid orange;
    color: orange;
  }
  42% {
    /* box-shadow: 0 0 .5em gold; */
    border: 1px solid gold;
    color: gold;
  }
  56% {
    /* box-shadow: 0 0 .5em green; */
    border: 1px solid green;
    color: green;
  }
  70% {
    /* box-shadow: 0 0 .5em blue; */
    border: 1px solid blue;
    color: blue;
  }
  84% {
    /* box-shadow: 0 0 .5em indigo; */
    border: 1px solid indigo;
    color: indigo;
  }
  100% {
    /* box-shadow: 0 0 .5em violet; */
    border: 1px solid violet;
    color: violet;
  }
}

.row {
  margin: 1%;
}
.col {
  margin: 1%;
}
.navbar {
  background: rgba(0,0,0,0);
}
.navbar-brand {
  font-size: calc(10px + 5vmin);
  font-weight: 800;
  color: #1b1b1b;
}


.portfolio-item-gradient {
  padding: 1%;

  /* border: 1px solid black; */
  /* filter: var(--rainbow-border); */
  background: var(--grey-gradient);
  box-shadow: var(--black-shadow);

  /* filter: var(--rainbow-border); */


}
.portfolio-item-transparent {
  background-color: rgba(245, 245, 245, .70);
  font-weight: 500;
  text-shadow: 0 0 1em rgba(255, 255, 255, 1), 0 0 1em rgba(255, 255, 255, 1), 0 0 1em rgba(255, 255, 255, .25);
}

.portfolio-item:hover {
  transition: all .5s;
  transform: scale(1.0125 );
}

.portfolio-item:hover {
  transition: all .5s;
  transform: scale(1.0125 );
  /* border: 1px solid black; */
  /* filter: var(--rainbow-border); */

}

a {
  color: black;
  text-decoration: none;
} 

h1 {
  color: black;
}
h2 {
  color: black;
  font-size: 2em;
  text-transform: uppercase;
  margin-left: 4%;

}

.terrain {
  color: #634b3f;
}
.trex {
  color: #6c715d;
}

#art-trex-video {
  border: 2px solid whitesmoke;
}
#portfolio-chorechampion-video {
  border: 5px solid black;
  box-shadow: var(--black-shadow);
}
#portfolio-chorechampion{
  /* background-image: url('../public/portfolio-chorechampion.png'); */
  background-size: cover;
  background-repeat: no-repeat;
}
.chorechampion-heading {
  font-weight: 800;
}

.knock-out-text {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  /* color:whitesmoke; */
  text-shadow: var(--white-shadow);
}
.knock-out-subtext {
  /* color:whitesmoke; */
  text-shadow: var(--white-shadow);
}

.email-button {
  text-transform: none;
}

#regexsaurus {
  animation-iteration-count: infinite;
  background-color: darkred !important;
  border-color: red !important;
  color: white !important;
}

#regexsaurus:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  background-color: darkred !important;
  border-color: red !important;
  color: white !important;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg) scale(1.2); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

p {
  font-weight: 500;
}

.red-text {
  color: darkred;
}

.socialIcon {
  margin-left: 5px;
  margin-right: 5px;
}

/* SCALE AND TRANSFORM ELEMENT WITH CSS. */

.socialIcon:hover {
  transform: scale(1.1);
  transition: all .5s;
}