$body-bg: #f5f5f5;
$dark-gray-button-color:#060606;
$light-gray-button-color:#f5f5f5;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;800&display=swap');
@import '~bootstrap/scss/bootstrap.scss';



.btn-primary {
    @include button-variant($light-gray-button-color, lighten($light-gray-button-color, 7.5%), lighten($light-gray-button-color, 10%), lighten($light-gray-button-color,5%), lighten($light-gray-button-color, 10%), lighten($light-gray-button-color,30%));
}

.btn-outline-primary {
    @include button-outline-variant($light-gray-button-color, #222222, lighten($light-gray-button-color,5%), $light-gray-button-color);
}

.btn-primary {
    // color: black !important;
}